.btn {
    display: flex;
    justify-content: center;
    border-radius: 66px;
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: #1f1f1f;
    cursor: pointer;
    user-select: none;
    transition: var(--transition);

    // .btn_black
    &_black {
        background: #1f1f1f;
        color: #fff;

        &:hover {
            background: #fbce51;
            color: #1f1f1f;
        }
    }
    // .btn_transparent
    &_transparent {        
        padding: 13px 50px;
        border: 2px solid #1f1f1f;

        &:hover {
            background: #1f1f1f;
            color: #fff;
        }

        @media (max-width: 768px) {
            border: none;
            padding: 15px 50px;
            background: rgba(255, 255, 255, .9);
        }
    }

    @media (max-width: 768px) {
        padding: 13px 30px;
    }
}
