.participants {
    // .participants__wrapper
    &__wrapper {
        display: grid;
        grid-template: 
            'title nav'
            'items items';
        gap: 60px;
    }
    // .participants__title
    &__title {
        grid-area: title;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 54px;
        line-height: 120%;
        text-transform: uppercase;
    }
    // .participants__items
    &__items {
        grid-area: items;
        overflow: hidden;
    }
    // .participants__list
    &__list {
        display: flex;
        gap: 20px;

        & > * {
            flex: 0 0 calc((100% - 20px * 2) / 3);
        }
    }
    // .participants__nav
    &__nav {
        grid-area: nav;
        justify-self: end;
    }

    @media (max-width: 992px) {
        &__list {
            & > * {
                flex: 0 0 calc((100% - 20px) / 2);
            }
        }
    }

    @media (max-width: 768px) {
        &__wrapper {
            display: grid;
            grid-template: 
                'title'
                'items'
                'nav';
            gap: 40px;
        }

        &__title {
            font-size: 36px;
            line-height: 110%;
        }

        &__list {
            & > * {
                flex: 0 0 100%;
            }
        }

        &__nav {
            justify-self: center;
        }
    }
}