.section {
    // .section_bordered
    &_bordered {
        padding: 20px 30px;
        border-top: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf;
    }
    // .section__title
    &__title {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 24px;
        line-height: 87%;
    }
    // .section__content
    &__content {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        color: #333;
    }

    &_spec {
        .section__title {
            padding-left: 30px;
            margin-bottom: 35px;
        }
    }

    @media (max-width: 1024px) {
        &_bordered {
            padding: 20px;
        }

        &__title {
            font-size: 22px;
            line-height: 95%;
        }

        &__content {
            font-size: 16px;
        }

        &_spec {
            .section__title {
                margin-bottom: 29px;
            }
        }
    }

    @media (max-width: 800px) {
        &_bordered {
            padding: 20px 0;
        }
        &__content {
            font-size: 14px;
        }
        &_spec {
            .section__title {
                padding-left: 0;
                margin-bottom: 18px;
            }
        }
    }
}