.slider {
    &__list {
        position: relative;
        transition: var(--transition);
    }

    .notransition {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        transition: none !important;
    }
}