.support {

    // .support__title
    &__title {
        font-family: var(--second-family);
        font-size: 36px;
        line-height: 135%;
        text-transform: uppercase;

        span {
            font-weight: 700;
            color: #f54932;
        }

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    // .support__top
    &__top {
        position: relative;
        padding: 27px calc(394px + 64px) 27px 0;
        margin-bottom: 66px;

        .support {
            // .support__title
            &__title {
            }
            // .support__img
            &__img {
                height: 250px;
                width: 394px;
                border-radius: 50%;
                overflow: hidden;

                position: absolute;
                right: 0;
                top: calc(50% - 250px / 2);
            }
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 0;

            .support {
                // .support__title
                &__title {
                }
                // .support__img
                &__img {
                    height: initial;
                    max-width: 100%;
                    aspect-ratio: 349 / 250;
                    border-radius: 50%;
    
                    position: relative;
                    right: initial;
                    top: initial;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    
    // .support__bottom
    &__bottom {
        display: flex;
        gap: 42px;

        .support {
            // .support__img
            &__img {
                margin: -30px -27px -35px;
            }
            // .support__bottom-wrap
            &__bottom-wrap {
            }
            // .support__title
            &__title {
                margin-bottom: 60px;
                display: block;
            }
            // .support__table
            &__table {
                margin-bottom: 48px;
                display: flex;
                flex-direction: column;
            }
            // .support__row
            &__row {
                display: flex;
                border-bottom: 2px solid #d0d0d0;

                &:first-child {
                    .support__cell {
                        padding-top: 0 !important;
                    }
                }

                &:last-child {
                    border: none;

                    .support__cell {
                        padding-bottom: 0 !important;
                    }
                }
            }
            // .support__cell
            &__cell {
                padding: 15px;

                &:first-child {
                    flex: 0 0 306px;
                    padding-left: 0;
                    opacity: 0.7;                    
                }

                &:last-child {
                    padding-right: 0;
                    font-weight: 600;
                    border-left: 2px solid #d0d0d0;
                }

                del {
                    text-decoration-color: #F54932;
                    margin-right: 7px;
                }
            }
            // .support__info
            &__info {
                color: #3057a2;
            }
        }

        @media (max-width: 1200px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 768px) {
            gap: 24px;
            flex-direction: column;

            .support {
                // .support__bottom-wrap
                &__bottom-wrap {
                }
                // .support__title
                &__title {
                    margin-bottom: 44px;
                }
                // .support__table
                &__table {
                    margin-bottom: 40px;
                }
                // .support__row
                &__row {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;
                    padding: 16px 0;
    
                    &:first-child {
                        .support__cell {
                            padding-top: 0;
                        }
                    }
    
                    &:last-child {
                        border: none;
                        padding-bottom: 0;
                    }
                }
                // .support__cell
                &__cell {
                    padding: 0;
    
                    &:first-child {
                        flex: initial;                 
                    }
    
                    &:last-child {
                        border-left: none;
                    }
    
                    del {
                        margin-right: 7px;
                    }
                }
                // .support__info
                &__info {
                    font-size: 18px;
                }
            }
        }

        @media (max-width: 530px) {
            .support {
                // .support__img
                &__img {
                    margin: -13px -19px -5px -20px;
                    max-width: calc(100% + 19px + 20px);
                    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    
    }
}
