.ticker {
    height: 60px;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: hidden;
    position: relative;
    background: #f54932;

    // .ticker__list
    &__list {
        display: flex;
    }
    // .ticker__item
    &__item {
        font-family: var(--second-family);
        font-size: 22px;
        line-height: 110%;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
        white-space: nowrap;
        display: flex;
        align-items: center;
        padding-left: 12px;
        

        &:after {
            content: '';
            display: block;
            height: 6px;
            width: 6px;
            border-radius: 100%;
            background: #fff;
            margin-left: 12px;
        }
    }

    @media (max-width: 768px) {
        height: 38px;
        padding-top: 10px;
        padding-bottom: 10px;

        &__item {
            font-size: 16px;

            &:after {
                margin-bottom: 2px;
            }
        }
    }
}
