<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__logo">
                <img src="img/logo.svg" alt="logo">
            </div>
        </div>
        <div class="header__main">
            <h1 class="header__title">
                Превратите уездный&nbsp;город
                <span class="header__title-part">в&nbsp;столицу <span>земного&nbsp;шара</span></span>
            </h1>
            <div class="header__desc">
                Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
            </div>
            <div class="header__actions">
                <div class="btn btn_black">
                    Поддержать шахматную&nbsp;мысль
                </div>
                <div class="btn btn_transparent">
                    Подробнее о&nbsp;турнире
                </div>
            </div>
        </div>
    </div>
</header>