<div class="participants">
    <div class="container">

        <div class="participants__wrapper">
            <div class="participants__title">
                Участники турнира
            </div>

            <div class="participants__items slider">
                <div class="participants__list slider__list">
                    @@include("_participants-item.html", {
                    "name": "Хозе-Рауль Капабланка",
                    "desc": "Чемпион мира по шахматам"
                    })
                    @@include("_participants-item.html", {
                    "name": "Эммануил Ласкер",
                    "desc": "Чемпион мира по шахматам"
                    })
                    @@include("_participants-item.html", {
                    "name": "Александр Алехин",
                    "desc": "Чемпион мира по шахматам"
                    })
                    @@include("_participants-item.html", {
                    "name": "Арон Нимцович",
                    "desc": "Чемпион мира по шахматам"
                    })
                    @@include("_participants-item.html", {
                    "name": "Рихард Рети",
                    "desc": "Чемпион мира по шахматам"
                    })
                    @@include("_participants-item.html", {
                    "name": "Остап Бендер",
                    "desc": "Гроссмейстер"
                    })

                </div>
            </div>

            <div class="participants__nav slider-nav slider-nav_with-info">
                <div class="slider-nav__btn slider-nav__prev"></div>
                <div class="slider-nav__info"><span class="slider-nav__info-cur">0</span> <span>/ <span
                            class="slider-nav__info-length">0</span></span></div>
                <div class="slider-nav__btn slider-nav__next"></div>
            </div>

        </div>

    </div>
</div>