<div class="stages">
    <div class="container">

        <div class="stages__title">
            Этапы преображения Васюков
            <span class="stages__desc">Будущие источники обогащения васюкинцев</span>
        </div>

        <div class="stages__items slider">
            <div class="stages__list slider__list">
                <div class="stages__item">
                    Строительство железнодорожной магистрали Москва-Васюки
                </div>
                <div class="stages__item">
                    Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
                </div>
                <div class="stages__item">
                    Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры,
                    шоколадных конфет
                </div>
                <div class="stages__item">
                    Строительство дворца для турнира
                </div>
                <div class="stages__item">
                    Размещение гаражей для гостевого автотранспорта
                </div>
                <div class="stages__item">
                    Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
                </div>
                <div class="stages__item">
                    Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей
                    во все концы света, включая Лос-Анжелос и Мельбурн
                </div>
            </div>
            <div class="stages__nav slider-nav slider-nav_with-bullets">
                <div class="slider-nav__btn slider-nav__prev"></div>
                <div class="slider-nav__bullets">

                </div>
                <div class="slider-nav__btn slider-nav__next"></div>
            </div>
            <div class="stages__airplane">
                <img src="img/airplane.png" alt="airplane">
            </div>
        </div>

    </div>
</div>