<div class="support">
    <div class="container">
        <div class="support__top">
            <span class="support__title">Чтобы поддержать Международный васюкинский турнир </span><span
                class="support__img">
                <img src="img/support-img-top.jpg" alt="support img top">
            </span><span class="support__title">посетите лекцию на тему: <span>«Плодотворная дебютная
                    идея»</span></span>

        </div>
        <div class="support__bottom">
            <div class="support__img">
                <img src="img/support-img-bottom.png" alt="support img bottom">
            </div>
            <div class="support__bottom-wrap">
                <span class="support__title">и Сеанс <span>одновременной игры в шахматы на 160 досках</span>
                    гроссмейстера О. Бендера</span>
                <div class="support__table">
                    <div class="support__row">
                        <div class="support__cell">
                            Место проведения:
                        </div>
                        <div class="support__cell">
                            Клуб «Картонажник»
                        </div>
                    </div>
                    <div class="support__row">
                        <div class="support__cell">
                            Дата и время мероприятия:
                        </div>
                        <div class="support__cell">
                            22 июня 1927 г. в 18:00
                        </div>
                    </div>
                    <div class="support__row">
                        <div class="support__cell">
                            Стоимость входных билетов:
                        </div>
                        <div class="support__cell">
                            20 коп.
                        </div>
                    </div>
                    <div class="support__row">
                        <div class="support__cell">
                            Плата за игру:
                        </div>
                        <div class="support__cell">
                            50 коп.
                        </div>
                    </div>
                    <div class="support__row">
                        <div class="support__cell">
                            Взнос на телеграммы:
                        </div>
                        <div class="support__cell">
                            <del>100 руб.</del> 21 руб. 16 коп.
                        </div>
                    </div>
                </div>
                <div class="support__info">
                    По всем вопросам обращаться в администрацию к К. Михельсону
                </div>
            </div>
        </div>
    </div>
</div>